.links {
  display: flex;
  list-style: none;
  height: 100%;
}

.link {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
