.icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #000;
  background-image: url("https://kgd.ru/media/k2/items/cache/0d17d6fd81c32e00ced048cbe70c2334_XL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
