.card {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.card > p {
  margin-right: 20px;
}

.wrapper {
  position: absolute;
  top: 0;
  right: -10px;
  width: 150px;
  padding: 10px;
  background: rgb(62, 58, 58);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.row > p {
  margin-right: 20px;
  align-items: center;
}

.wrapper > p {
  margin-top: 20px;
}
