.links {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.links > li {
  color: white;
  margin: 0 20px;
  font-weight: bold;
  padding: 0;
}
